<footer id="footer">
  <div class="footer-left">
    <%= __('footer.copyright') %> &copy; <%= new Date().getFullYear() %> <%= config.author || config.title %>
    <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
  </div>
</footer>
